section.home-7.main-line
	.container
		h2.main-title.text-center tin tức - sự kiện
		.slide
			.swiper-container
				.swiper-wrapper
					- for(i=0;i<4;i++)
						.swiper-slide
							.item
								.image
									a(href="#")
											img(src="./img/home/7.png", alt="")
								.content
									.title 
										a(href="#") 6 cách xông nhà khi vào nhà mới đem lại bình an
									ul
										li
											em.mdi.mdi-calendar-blank-outline
											time 05.03.2020
										li
											em.mdi.mdi-arrow-right
											a(href="#") xem thêm
			.swiper-prev
				em.mdi.mdi-arrow-left
			.swiper-next
				em.mdi.mdi-arrow-right
