footer
	.footer-top
		.container
			.footer-brand
				.image-wrap
					a(href="#")
						img(src="./img/logo.png", alt="#")
				.title Công ty TNHH TMDV Sai gon express
			.row
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title Trụ sở chính
					ol
						li
							em.material-icons business
							span Số 121, Đường Hoàng Quốc Việt, P. Phú Thuận, Quận 7, TP. HCM
						li
							em.mdi.mdi-phone
							span (028) 3838 2238
						li
							em.mdi.mdi-cellphone
							span 0939 176 176
						li
							em.mdi.mdi-email
							span info@saigonexpress.vn
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title Chi nhánh
					ol
						li
							em.material-icons business
							span Kho A3, Số 838 Đường Bạch Đằng, P. Thanh Lương, Q. Hai Bà Trưng, TP. HN
						li
							em.mdi.mdi-phone
							span (028) 3838 2238
						li
							em.mdi.mdi-cellphone
							span 0949 668 875
						li
							em.mdi.mdi-email
							span info.hanoi@saigonexpress.vn
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title Dịch vụ
					ul
						li
							a(href="#") Cho thuê kho - lưu trữ hàng hóa
						li
							a(href="#") Chuyển nhà trọn gói
						li
							a(href="#") Chuyển văn phòng trọn gói
						li
							a(href="#") Di dời xưởng, kho bãi
						li
							a(href="#") Cho thuê xe tải
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title Đăng ký nhận bản tin 
					.subscrible-text Điền địa chỉ email của bạn vào ô dưới đây để nhận thông báo mới nhất
					.subscribe
						.subscribefrm
							input(type="text" placeholder='Nhập địa chỉ email của bạn')
							button
								em.mdi.mdi-send
			.row
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title Hệ thống kho tại TP.HCM
					ol
						li
							em.mdi.mdi-map-marker
							span Số 121, Đường Hoàng Quốc Việt, P. Phú Thuận, Quận 7, TP. HCM
						li
							em.mdi.mdi-map-marker
							span 512A Huỳnh Tấn Phát, P. Bình Thuận, Quận 7, TP. HCM
						li
							em.mdi.mdi-map-marker
							span Đường số 22A, Khu Chế Xuất Tân Thuận, Quận 7, TP. HCM
						li
							em.mdi.mdi-map-marker
							span 34 Đường Đào Trí, P. Phú Thuận, Quận 7, TP. HCM
						li
							em.mdi.mdi-map-marker
							span Xí nghiệp X30, số 17, Phạm Hùng, Xã Phước Lộc, Nhà Bè.
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title Hệ thống kho tại hà nội
					ol
						li
							em.mdi.mdi-map-marker
							span Kho A3, số 838 đường Bạch Đằng, P. Thanh Lương, Q. Hai Bà Trưng, TP. HN

						li
							em.mdi.mdi-map-marker
							span Số 98 đường K2, P. Cầu Diễn, Q. Nam Từ Liêm, TP.HN
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title Liên kết nhanh
					ul
						li
							a(href="#") Bảng giá
						li
							a(href="#") Câu hỏi thường gặp
						li
							a(href="#") Tin tức
						li
							a(href="#") Tuyển dụng
						li
							a(href="#") Liên hệ
				.col.w-full(class='sm:w-1/2 lg:w-3/12')
					.title.social-title Kết nối với chúng tôi
					.social-network
						a(href="#")
							em.fab.fa-facebook-f
						a(href="#")
							em.fab.fa-linkedin-in
						a(href="#")
							em.fab.fa-youtube
						a(href="#")
							em.mdi.mdi-email
	.footer-bottom
		.container
			.term-policy
				ul
					li
						a(href="#") Chính sách bảo mật  
					li
						a(href="#") Điều khoản & Điều kiện sử dụng
					li
						a(href="#")  Sitemap
			.copyright
				p @ 2020 An Phuoc - Peace Cardin. Thiết kế website bởi Cánh cam