header
	.container
		.wrap-left
			.nav-brand
				a(href="#")
					img(src="./img/logo.png", alt="")
		.wrap-right
			.wrap-top
				.contact-wrap
					.item
						a(href="#")
							em.mdi.mdi-phone
							span (028) 3838 2238
					.item
						a(href="#")
							em.mdi.mdi-cellphone
							span (028) 3838 2238
				.social-wrap
					a(href="#").fb
						em.fab.fa-facebook-f
					a(href="#").linked
						em.fab.fa-linkedin-in
					a(href="#").yt
						em.fab.fa-youtube
					a(href="#").mail
						em.mdi.mdi-email
				.language-wrapper
					.current-language
						a(href="javascript:;")
							img(src="./img/uk.png", alt="")
				
				.search-wrapper
					.search-toggle
						em.mdi.mdi-magnify
					.searchbox
						input(type="text",placeholder='Search')
						button
							em.lnr.lnr-magnifier
				.main-menu-toggle
					.hamburger.hamburger--elastic
						.hamburger-box
							.hamburger-inner

			.wrap-bottom
				ul.navbar-primary-menu
					li
						a(href="#") Giới thiệu
					li
						a(href="#") Dịch vu
					li.drop-down
						.title
							a(href="#") Bảng giá
							em.lnr.lnr-chevron-down
						ul
							li
								a(href="#") Bảng giá dịch vụ chuyển nhà trọn gói
							li
								a(href="#") Bảng giá taxi tải
							li
								a(href="#") Bảng giá cho thuê kho

					li
						a(href="#") Thư viện ảnh
					li
						a(href="#") Tin tức - Sự kiện
					li
						a(href="#") Tuyển dụng
					li
						a(href="#") Liên hệ
				.check-status
					a
						span Tra cứu
	hr.dash-line
	.mobile-wrapper
