section.news-display
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.col-match-height
					.news-figure.news-big
						.figure-image.zoom-in
							a(href="#")
								img(src="./img/news/5.png", alt="")
						.figcaption
						
							.text
								a(href="") First stage of dedicated IT Parkofficially put into operationFirst stage of dedicated IT Parkofficially put into operationFirst stage of dedicated IT Parkofficially put into operation
							.caption The World Bank’s partnership with Da Nang City has expanded from basic infrastructure, to a multi-sectoral approach that...
			.col.w-full.small-news-wrapper(class='lg:w-1/2')
				.col-match-height
					.row.news-figure.news-small
						.col(class='w-4/12 sm:w-3/12 lg:w-4/12')
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/news/5.png", alt="")
						.col(class='w-8/12 sm:w-9/12 lg:w-8/12')
							.figcaption
								.text
									a(href="") Da Nang becomes the
								.caption Khái niệm Ship COD ngày càng phổ biến trong giới kinh doanh bán hàng. Và mọi người hiện nay dùng cụm từ này như một thói quen để chỉ hoạt động bán hàng và thu tiền khi hàng được trao tận tay cho người nhận. 
					.row.news-figure.news-small
						.col(class='w-4/12 sm:w-3/12 lg:w-4/12')
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/news/5.png", alt="")
						.col(class='w-8/12 sm:w-9/12 lg:w-8/12')
							.figcaption
								.text
									a(href="") Da Nang becomes the
								.caption Khái niệm Ship COD ngày càng phổ biến trong giới kinh doanh bán hàng. Và mọi người hiện nay dùng cụm từ này như một thói quen để chỉ hoạt động bán hàng và thu tiền khi hàng được trao tận tay cho người nhận. 
					.row.news-figure.news-small
						.col(class='w-4/12 sm:w-3/12 lg:w-4/12')
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/news/5.png", alt="")
						.col(class='w-8/12 sm:w-9/12 lg:w-8/12')
							.figcaption
								.text
									a(href="") Da Nang becomes the
								.caption Khái niệm Ship COD ngày càng phổ biến trong giới kinh doanh bán hàng. Và mọi người hiện nay dùng cụm từ này như một thói quen để chỉ hoạt động bán hàng và thu tiền khi hàng được trao tận tay cho người nhận. 
		.row.bottom-row
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.
			.col.w-full(class='sm:w-1/2 lg:w-1/3')
				.news-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/news/5.png", alt="")
					.figcaption
						.text
							a(href="") Da Nang becomes the
						.caption Container văn phòng là một xu hướng mới mẻ phát triển trong vài năm trở lại đây. Không chỉ mới lạ, độc đáo, mô hình văn phòng container còn đặc biệt được ưa chuộng bởi sự tiết kiệm và tiện lợi.