section.faq.main-line
	.container
		h2.main-title.line.text-center câu hỏi thường gặp
		.list-question.main-line
			h3.title-wrapper Câu hỏi thường gặp
			ul
				- for(i=0;i<10;i++)
					li
						.question-wrapper
							p.question Xe tải chở hàng gồm những loại nào?
							.reply
								.full-content
		.form-faq
			h2.title-child.text-center đặt câu hỏi
			p.text-form.text-center Gửi  ngay câu hỏi thắc mắc của bạn đến với Sài Gòn Express chúng tôi sẽ giải đáp thắc mắc của bạn
			.form
