section.home-1.main-line
	.container
		.content.text-center
			h2.title-child(data-aos="fade-down" data-aos-easing="linear" data-aos-delay="0" data-aos-duration="750" data-aos-offset="200") hotline: (028) 3838 2238 - 0939 176 176
			p(data-aos="fade-up" data-aos-easing="linear" data-aos-delay="0" data-aos-duration="750" data-aos-offset="300") Liên hệ ngay với Saigon Express để có giá tốt nhất và được tư vấn về dịch vụ kho bãi và vận chuyển nhé!
			.button-wrapper
				a(href="#").button 
					em.mdi.mdi-widgets
					span Tra cứu bản giá kho
				a(href="#").button 
					em.mdi.mdi-truck
					span Tra cứu bản giá vận chuyển
