section.home-h6.main-line
	.container.slide-dt
		.row
			.col(class="w-full lg:w-2/3")
				h2.main-title.text-left đối tác
				.swiper-container
					.swiper-wrapper
						- for(i=0;i<8;i++)
							.swiper-slide
								.image
									img(src="./img/about/6.png", alt="")
				.button-slide
					.swiper-prev
						em.mdi.mdi-arrow-left
					.swiper-next
						em.mdi.mdi-arrow-right
			.col(class="w-full lg:w-1/3")
				h2.main-title.text-left video
				a(href="https://www.youtube.com/watch?v=BsBGLjxKWj0" data-fancybox="video")
					.image
						img(src="./img/transport/1.png", alt="")
