.nav-child
	display: flex
	align-items: center
	justify-content: center
	margin-top: 40px
	li
		margin: 0 20px
		&:hover
			a
				@apply underline
		a
			@apply flex items-center justify-center uppercase px-4 text-14 whitespace-no-wrap
			height: 35px
			text-transform: uppercase
			border: 1px solid #ebebeb
			background: #fafafa
			color: #666666
		&.active
			a
				@apply bg-primary text-white 
				border: 1px solid transparent

.about-us-section
	.sub-nav
		.container
			@apply overflow-x-auto flex justify-start items-center
		

	.nav-child
		background: #FDFDFD
		@apply whitespace-no-wrap