nav.sub-nav
	.container
		ul.nav-child.bg-white.flex.justify-between
			li
				a(href="#") Tổng quan
			li
				a(href="#") Giải pháp
			li
				a(href="#") Tầm nhìn
			li
				a(href="#") Sứ mệnh
			li
				a(href="#") Giá trị cốt lõi
			li
				a(href="#") Đối tác - khách hàng
