.storage-progress-stage
	.container
		ul
			li
				a(href="#")
					.step 01
					.box
						.text Chọn kho
			li
				a(href="#")
					.step 02
					.box
						.text Chọn Loại kho
			li
				a(href="#")
					.step 03
					.box
						.text Chọn Diện tích và thời gian thuê kho
			li
				a(href="#")
					.step 04
					.box
						.text Dịch vụ tiện ích đi kèm
			li
				a(href="#")
					.step 05
					.box
						.text Thông tin liên hệ
section.storage-calcualte.storage-calcualte-step-3.private-store-step-3
	.container.padding-section
		.stage-wrap
			.zone-title.small Chọn diện tích và thời gian thuê kho
			.row
				.col(class='w-1/2 lg:w-4/12')
					.col-match-height
						.item-area
							.caption
								.title Từ 80m2 đến 120m2
								.text 140/00 tháng
							.qcheckbox
								input(type="checkbox")
				.col(class='w-1/2 lg:w-4/12')
					.col-match-height
						.item-area
							.caption
								.title Từ 80m2 đến 120m2
								.text 140/00 tháng
							.qcheckbox
								input(type="checkbox")
				.col(class='w-1/2 lg:w-4/12')
					.col-match-height
						.item-area
							.caption
								.title Từ 80m2 đến 120m2
								.text 140/00 tháng
							.qcheckbox
								input(type="checkbox")
				.col(class='w-1/2 lg:w-4/12')
					.col-match-height
						.item-area
							.caption
								.title Từ 80m2 đến 120m2
								.text 140/00 tháng
							.qcheckbox
								input(type="checkbox")
				.col(class='w-1/2 lg:w-4/12')
					.col-match-height
						.item-area
							.caption
								.title Từ 80m2 đến 120m2
								.text 140/00 tháng
							.qcheckbox
								input(type="checkbox")
				.col(class='w-1/2 lg:w-4/12')
					.col-match-height
						.item-area
							.caption
								.title Từ 80m2 đến 120m2
								.text 140/00 tháng
							.qcheckbox
								input(type="checkbox")


		.btn-left
			.item
				.text Thời gian
				.item-quantity
					.input-group
						.input-group-btn
							.qty-minus.btn-number
								em.mdi.mdi-minus
						input.product-details-quantity.form-control.input-number(type='text', value='1')
						.input-group-btn
							.qty-plus.btn-number
								em.mdi.mdi-plus
				.value tháng
			.item
				.text Thời gian
				.item-quantity
					.input-group
						.input-group-btn
							.qty-minus.btn-number
								em.mdi.mdi-minus
						input.product-details-quantity.form-control.input-number(type='text', value='1')
						.input-group-btn
							.qty-plus.btn-number
								em.mdi.mdi-plus
				.value tháng
		.btn-right
			a(href="#").btn.btn-primary.grey
				em.mdi.mdi-arrow-left
				span Tiếp tục  
			a(href="#").btn.btn-primary.red
				span Tiếp tục  
				em.mdi.mdi-arrow-right