section.service-1.main-line
	.container
		.row
			.col(class="w-full xl:w-7/12")
				h2.main-title.line.text-left dịch vụ chuyển nhà chọn gói
				.content-sv
					p Bạn đang có nhu cầu sử dụng dịch vụ chuyển dọn nhà trọn gói giá rẻ tại thành phố Hồ Chí Minh (TPHCM)?
					p Bạn đang phân vân không biết nên thuê xe tải chuyển nhà hay sử dụng dịch vụ chuyển nhà trọn gói? Dịch vụ vận chuyển nhà trọn gói sẽ giúp bạn được những gì?
					p Công ty nào cho thuê dịch vụ chuyển dọn nhà trọ uy tín giá rẻ - chất lượng tốt tại TPHCM?
					p Hãy để chúng tôi - 
						| 
						span Công ty TNHH TMDV Saigon Express. 
						| Nhà cung cấp dịch vụ taxi tải chuyển nhà, chuyển văn phòng trọn gói uy tín số 1 tại TPHCM. Chúng tôi sẽ giúp bạn trả lời những câu hỏi, thắc mắc khi có nhu cầu đến nơi ở mới.
			.col(class="w-full xl:w-5/12")
				a(href="https://www.youtube.com/watch?v=BsBGLjxKWj0" data-fancybox="video")
					.image
						img(src="./img/service/1.png", alt="")
section.service-2
	.container
		.contact-form.main-line
			h2.main-title.line.text-center liên hệ
			.main-form
section.service-3.main-line
	.container
		h3.title-sv dịch vụ chuyển dọn nhà của saigon express
		.content-sv
			p Khi thuê dịch vụ chuyển dọn nhà, bạn không chỉ đơn giản là trả phí dịch vụ, mà còn giao tất cả đồ đạc, tài sản của mình cho những người xa lạ vận chuyển! Vậy nên việc tìm được một đơn vị chuyển nhà chất lượng với giá tốt luôn luôn là mong muốn hàng đầu của bất kỳ ai đang có nhu cầu chuyển nhà, chung cư tới nơi ở mới. Xây dựng dịch vụ chuyển nhà từ năm 2014, Saigon Express tâm niệm, chỉ có trao đi sự nỗ lực và trách nhiệm mới có thể nhận lại sự tín nhiệm, tin tưởng của khách hàng.
				|
				span Vậy nên Chất lượng dịch vụ - Thái độ phục vụ 
				| được chú trọng đặt lên hàng đầu.
			p Chúng tôi luôn cố gắng để giúp khách hàng chuyển đồ trọn gói một cách nhanh chóng, an toàn với chi phí tiết kiệm nhất có thể! Đến ngày hôm nay, trải qua bao nhiêu thăng trầm, chúng tôi đã đồng hành chuyển nhà cho hàng ngàn gia đình. Nhận được những lời khen và góp ý quý báu. Đó là động lực để Saigon Express phấn đấu ngày một hoàn thiện hơn, trở thành đơn vị cung cấp dịch vụ chuyển nhà chuyên nghiệp với chất lượng hàng đầu khu vực TP.HCM.
section.service-4.main-line
	.container
		h3.title-sv các gói dịch vụ chuyển nhà của chúng tôi
		p Đến với dịch vụ chuyển nhà của SaiGon Express bạn có nhiều lựa chọn
		.swiper-container
			.swiper-wrapper
				- for(i=1;i<4;i++)
					.swiper-slide
						.combo
							.image
								img(src="./img/service/2.png", alt="")
							.desc
								h5 thuê xe tải chuyển nhà, phòng trọ:
								p Khách hàng tự tháo dở và đóng gói và bốc xếp đồ đạc của mình. Xe và tài xế của Sài Gòn Express sẽ hỗ trợ bạn sắp xếp đồ đạt lên xe và vận chuyển đến nơi mới. Gói dịch vụ này giúp bạn tiết kiệm tối đa chi phí khi chuyển nhà và phù hợp với khách hàng có ít đồ đạc, nhiều thời gian rỗi và có người hỗ trợ bốc dỡ đồ đạc.
			.swiper-prev
				em.mdi.mdi-chevron-left
			.swiper-next
				em.mdi.mdi-chevron-right
		.content-sv
			p SaiGon Express hoạt động với phương châm:
				|
				span "mang đến dịch vụ chuyển dọn nhà trọn gói nhanh chóng - an toàn - tiết kiệm cho khách hàng".
		.hotline-number
			a(href="tel:02838382238").button
				.icon
					em.mdi.mdi-phone
				.box
					p (028) 3838 2238
			a(href="tel:0938176176").button
				.icon
					em.mdi.mdi-cellphone-android
				.box
					p 0939 176 176
section.service-5.main-line
	.container
		h3.title-sv quy trình chuyển dọn nhà của chúng tôi
		.title-child.text-center các bước chuyển nhà cùng saigon express
		.row
			.col(class="w-full xl:w-1/2 ")
				.step-wrapper
					.step
						.icon
							img(src="./img/icon/sv1.png", alt="")
						p bước 1
					.content-sv
						h5.title tổng đài tư vấn
						p Gọi vào tổng đài:</br>
							|
							span 0939.176.176 - (028) 3838 2238 
							| hoặc nhắn tin qua zalo, facebook, website,... Hãy cho chúng tôi biết về: Thời gian chuyển nhà bạn mong muốn, địa chỉ nhà mới và nhà cũ, mô tả đồ đạc.
			.col(class="w-full xl:w-1/2 ")
				.step-wrapper
					.step
						.icon
							img(src="./img/icon/sv1.png", alt="")
						p bước 1
					.content-sv
						h5.title tổng đài tư vấn
						p Gọi vào tổng đài:</br>
							|
							span 0939.176.176 - (028) 3838 2238 
							| hoặc nhắn tin qua zalo, facebook, website,... Hãy cho chúng tôi biết về: Thời gian chuyển nhà bạn mong muốn, địa chỉ nhà mới và nhà cũ, mô tả đồ đạc.
			.col(class="w-full xl:w-1/2 ")
				.step-wrapper
					.step
						.icon
							img(src="./img/icon/sv1.png", alt="")
						p bước 1
					.content-sv
						h5.title tổng đài tư vấn
						p Gọi vào tổng đài:</br>
							|
							span 0939.176.176 - (028) 3838 2238 
							| hoặc nhắn tin qua zalo, facebook, website,... Hãy cho chúng tôi biết về: Thời gian chuyển nhà bạn mong muốn, địa chỉ nhà mới và nhà cũ, mô tả đồ đạc.
			.col(class="w-full xl:w-1/2 ")
				.step-wrapper
					.step
						.icon
							img(src="./img/icon/sv1.png", alt="")
						p bước 1
					.content-sv
						h5.title tổng đài tư vấn
						p Gọi vào tổng đài:</br>
							|
							span 0939.176.176 - (028) 3838 2238 
							| hoặc nhắn tin qua zalo, facebook, website,... Hãy cho chúng tôi biết về: Thời gian chuyển nhà bạn mong muốn, địa chỉ nhà mới và nhà cũ, mô tả đồ đạc.
section.service-6.main-line
	.container
		h3.title-sv tại sao bạn nên chọn chúng tôi ? 
		.row
			- for(i=1;i<5;i++)
				.col(class="w-full sm:w-1/2 lg:w-1/4")
					.list
						.icon
							img(src="./img/icon/sv3.png", alt="")
						.content-sv
							h5.title chi phí chuyển nhà cạnh tranh
							p Giá chuyển nhà được công khai trên hệ thống website để khách hàng có thể tự ước tính. Đảm bảo tính minh bạch.
							p Bảng giá chuyển nhà cạnh tranh hàng đầu thị trường. Báo giá nhanh chóng và cam kết không có phí phát sinh ngoài hợp đồng
							p Giá chuyển nhà ổn định, không tăng giá dù chuyển nhà chủ nhật, ngày nghỉ lễ hay ngoài giờ hành chính, buổi tối.

section.service-7.main-line
	.container
		h3.title-sv bảng báo giá dịch vụ chuyển nhà TP.HCM
		.wrapper.main-child
			h5.title.text-center giá thuê xe vận tải chuyển nhà TP HCM
			.table-wrapper
				table
					tr
						th loại xe
						th giá mở cửa - 10km đầu
						th từ km thứ 11 đến 44
						th từ km thứ 45
						th thời gian chờ
					- for(i=0;i<5;i++)
						tr
							td Xe tải nhỏ 500kg
							td 250.000VNĐ
							td 13.000VNĐ/Km
							td 12.000VNĐ/Km
							td 70.000VNĐ/Giờ
		.wrapper.main-child
			h5.title.text-center phí bốc xếp
			.table-wrapper
				table
					tr.text-center
						th loại xe
						th giá mở cửa - 10km đầu
						
					- for(i=0;i<5;i++)
						tr.text-center
							td Xe 750kg
							td.text-center 200.000VNĐ
		.wrapper.main-child
			h5.title.text-center phí bốc xếp
			.table-wrapper
				table
					tr
						th.text-right chi phí khác nếu có
						th 
					- for(i=0;i<5;i++)
						tr.text-center
							td Thùng Carton (60x40x35 cm)
							td 18.000VNĐ/Thùng
							
		.view-detail
			em.mdi.mdi-open-in-new
			p Quý khách có thể xem chi tiết 
			a(href="#") bảng báo giá dịch vụ chuyển nhà mới nhất của chúng tôi
section.service-8.main-line
	.container
		h3.title-sv hình ảnh quá trình chuyển dọn nhà
		.slide-sv
			.swiper-container
				.swiper-wrapper
					- for(i=1;i<4;i++)
						.swiper-slide
							.image
								img(src="./img/service/3.png", alt="")
			.swiper-prev
				em.mdi.mdi-arrow-left
			.swiper-next
				em.mdi.mdi-arrow-right
		.description
			p Saigon Express phục vụ chuyển nhà trọn gói, chuyển chung cư, chuyển phòng trọ cho sinh viên ,vận chuyển văn phòng trọn gói, thuê xe tải vận chuyển nhà ở tất cả các quận huyện trong thành phố Hồ Chí Minh như: quận 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12. Quận Thủ Đức. Quận Tân Phú. Quận Gò Vấp. Quận Tân Bình. Quận Bình Thạnh. Quận Bình Tân. Quận Phú Nhuận. Huyện Bình Chánh. Huyện Cần Giờ. Huyện Nhà Bè. Huyện Củ Chi. Huyện Hóc Môn. Ngoài ra Saigon Express còn cung cấp dịch vụ chuyển nhà trọn gói liên tỉnh giá rẻ từ TPHCM đi các tỉnh và ngược lại như :
			ul
				li.link
					p TP.HCM
					em.mdi.mdi-trending-neutral
					a(href="#") Các tỉnh Nam Trung Bộ
				li.link
					p TP.HCM
					em.mdi.mdi-trending-neutral
					a(href="#") Các tỉnh Tây Nguyên
				li.link
					p TP.HCM
					em.mdi.mdi-trending-neutral
					a(href="#") Các tỉnh Đông Nam Bộ
				li.link
					p TP.HCM
					em.mdi.mdi-trending-neutral
					a(href="#") Các tỉnh Tây Nam Bộ	
			.hotline
				a(href="tel:0939176176") Hãy liên hệ ngay với chúng tôi theo đường dây nóng 
					|
					span 0939 176 176 
					| để được tư vấn và sử dụng dịch vụ chuyển nhà giá rẻ tốt nhất tại TPHCM.
