section.home-5.main-line
	.container
		.row
			.col(class="w-full lg:w-2/3" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="600" data-aos-duration="750" data-aos-offset="200")
				h2.main-title.text-left quy trình làm việc
				.swiper-container.gallery-top
					.swiper-wrapper
						-for(i=1;i<6;i++)
							.swiper-slide
								.swiper-content
									.box-img
										img(src="./img/home/6.png", alt="")
									.box-content
										.content
											.call-icon
												img(src="./img/home/call.png", alt="")
											h3.title BƯỚC 01: Liên hệ
											p Khách hàng liên hệ Saigon Express qua các SĐT:
											span.hot-line (028) 3838 2238 - Hotline: 0939 176 176
											p Hãy cho chúng tôi biết bạn cần chúng tôi hỗ trợ điều gì.
					.swiper-next
						em.mdi.mdi-arrow-right
			.col(class="w-full lg:w-1/3" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="600" data-aos-duration="750" data-aos-offset="200")
				.services-form
					.form-wrapper
						.text Để lại yêu cầu, chúng tôi sẽ liên hệ sớm nhất để nhất thông tin
						p Chọn dịch vụ
						.wrap-form
							.form-group
								select
									option Chuyển nhà trọn gói
									option Chuyển nhà trọn gói
									option Chuyển nhà trọn gói
							.form-group
								input(type="text" placeholder ='Họ và tên')
							.form-group
								input(type="text" placeholder ='Số điện thoại')
							.form-group
								input(type="text" placeholder ='Email')
							.form-group
								input(type="text" placeholder ='Nội dung')
							.frm-btn
								input(type="submit" value ="Send")

	.nav-wrapper
		.container
			.swiper-container.gallery-thumbs(data-aos="zoom-in" data-aos-easing="linear" data-aos-delay="650" data-aos-duration="750" data-aos-offset="200")
				.swiper-wrapper
					.swiper-slide
						.item
							.step 01
							.box
								.text liên hệ
					.swiper-slide
						.item
							.step 02
							.box
								.text tư vấn/khảo sát
					.swiper-slide
						.item
							.step 03
							.box
								.text báo giá
					.swiper-slide
						.item
							.step 04
							.box
								.text triển khai
					.swiper-slide
						.item
							.step 05
							.box
								.text nghiệm thu
.feature-section.main-line
	.container
		h2.main-title(data-aos="fade-down" data-aos-easing="linear" data-aos-delay="550" data-aos-duration="750" data-aos-offset="200") các loại xe - tính năng
		.feature-slider(data-aos="fade-up" data-aos-easing="linear" data-aos-delay="550" data-aos-duration="750" data-aos-offset="200")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item
							img(src="./img/home/feature-1.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-2.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-3.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-4.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-5.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-1.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-2.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-3.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-4.png", alt="")
					.swiper-slide
						.item
							img(src="./img/home/feature-5.png", alt="")
			.swiper-next
				em.mdi.mdi-arrow-right
			.swiper-prev
				em.mdi.mdi-arrow-left



