.storage-progress-stage
	.container
		ul
			li.active
				a(href="#")
					.step 01
					.box
						.text Chọn kho
			li
				a(href="#")
					.step 02
					.box
						.text Chọn Loại kho
			li
				a(href="#")
					.step 03
					.box
						.text Chọn Diện tích và thời gian thuê kho
			li
				a(href="#")
					.step 04
					.box
						.text Dịch vụ tiện ích đi kèm
			li
				a(href="#")
					.step 05
					.box
						.text Thông tin liên hệ
section.storage-calcualte.storage-calcualte-step-1
	.container.padding-section
		.stage-wrap
			.zone-title.small thông tin liên hệ
			.row
				.col.w-full(class='sm:w-1/2') 
					.col-match-height
						.item-checkbox
							.image-wrapper
								a(href="#")
									img(src="./img/icon/icon-2.png", alt="")
							.caption
								.qcheckbox
									input(type="checkbox")
								.title Kho tự quản 
								.unit Đơn vị m2
			
				.col.w-full(class='sm:w-1/2')
					.col-match-height
						.item-checkbox
							.image-wrapper
								a(href="#")
									img(src="./img/icon/icon-2.png", alt="")
							.caption
								.qcheckbox
									input(type="checkbox")
								.title Kho tự quản 
								.unit Đơn vị m2
			
		.btn-right
			a(href="#").btn.btn-primary.red
				span Tiếp tục  
				em.mdi.mdi-arrow-right
section.storage-information
	.container
		.zone-title
			.text bảng giá
			.description Dịch vụ cho thuê kho của Saigon Express không chỉ phát triển ở TP.HCM mà còn mở rộng ở Hà Nội với tổng năng lực khai thác hơn 100.000 mét khối. 
		.row
			.col.w-full(class='lg:w-1/2')
				.subtitle DỊCH VỤ CHO THUÊ KHO SAIGON EXPRESS
				.caption
					p Dịch vụ cho thuê kho của Saigon Express không chỉ phát triển ở TP.HCM mà còn mở rộng ở Hà Nội với tổng năng lực khai thác hơn 100.000 m3. Chúng tôi có đầy đủ giải pháp mà bạn cần như thuê kho chung, thuê kho giá rẻ, thuê kho tự quản, thuê kho mini, thuê kho mát, thuê kho lạnh,... với mức giá cạnh tranh hàng đầu thị trường. 
					p Tất cả các kho đều có vị trí chiến lược giao thông thuận lợi, xe container có thể vào xuất nhập hàng 24/24. Ngoài ra, kho được trang bị đầy đủ các yếu tố bảo đảm an toàn, an ninh như PCCC, bảo vệ, camera 24/24. Cam kết mang đến cho khách hàng dịch vụ chuyên nghiệp, an toàn và giá tốt nhất!
				.contact-icon
					.icon
						a(href="#")
							em.mdi.mdi-phone
							.phone
								span (028) 3838 2238
					.icon
						a(href="#")
							em.mdi.mdi-cellphone
							.phone
								span 0939 176 176
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					a(href="#")
						img(src="./img/step/1.jpg", alt="")
		.title-red
			.dash-red 
			.text Bảng giá cho thuê kho chung
		.caption
			p Kho chung có thiết kế ô kệ tiêu chuẩn, phù hợp với đa dạng hàng hóa. Hàng của khách sẽ được xếp gọn gàng lên ô kệ và tách biệt với nhau. Với không gian chia sẻ, Saigon Express mang đến bảng giá cho thuê kho chung tốt nhất dành cho bạn. 
		.table-red
			table
				thead
					tr
						th Loại dịch vụ
						th Đơn vị tính
						th Đơn giá (Vnd/tháng)
						th Ghi chú
				tbody
					tr
						td kho chung 
						td mét khôi(m2)
						td 130.000
						td 
							p Mét khôi (m3) được tính theo công thức 
							p Dài  x Rộng x Cao
							p Hàng hóa được sắp xếp trên ô kệ tiêu chuẩn. 
					tr
						td kho chung 
						td mét khôi(m2)
						td 130.000
						td 
							p Mét khôi (m3) được tính theo công thức 
							p Dài  x Rộng x Cao
							p Hàng hóa được sắp xếp trên ô kệ tiêu chuẩn. 
					tr
						td kho chung 
						td mét khôi(m2)
						td 130.000
						td 
							p Mét khôi (m3) được tính theo công thức 
							p Dài  x Rộng x Cao
							p Hàng hóa được sắp xếp trên ô kệ tiêu chuẩn. 
		.title-red
			.dash-red 
			.text Bảng giá cho thuê kho mát
		.caption
			p Nhiệt độ kho được duy trì ổn định ở mức 20-25 độ C, độ ẩm dưới 50%. Điều kiện bảo quản phù hợp với các mặt hàng như dược phẩm, thiết bị y tế, thực phẩm chức năng, đồ thực phẩm khô, linh kiện điện tử,…
		.table-red
			table
				thead
					tr
						th Loại dịch vụ
						th Đơn vị tính
						th Đơn giá (Vnd/tháng)
						th Ghi chú
				tbody
					tr
						td kho chung 
						td mét khôi(m2)
						td 130.000
						td 
							p Mét khôi (m3) được tính theo công thức 
							p Dài  x Rộng x Cao
							p Hàng hóa được sắp xếp trên ô kệ tiêu chuẩn. 
		.title-red
			.dash-red 
			.text Bảng giá cho thuê kho lưu trữ hồ sơ, tài liệu
		.caption
			p Khách hàng có thể tự đóng gói, sắp xếp hồ sơ tài liệu để dễ dàng quản lý, trích lục. Kích thước thùng hồ sơ nên đồng bộ để thuận tiện cho việc lưu trữ. Kích thước được khuyến khích là 50cmx 40cmx30cm để phù hợp với kệ lưu trữ hồ sơ. Bạn có thể sử dụng thùng đựng của cơ quan hoặc liên hệ Saigon Express để được cung cấp thùng tiêu chuẩn.
			p Với những doanh nghiệp cần lưu trữ hồ sơ tài liệu số lượng lớn hoặc dài hạn, vui lòng liên hệ với Saigon Express để được nhận mức giá kho lưu hồ sơ tốt nhất. 
		.table-red
			table
				thead
					tr
						th Loại dịch vụ
						th Đơn vị tính
						th Đơn giá (Vnd/tháng)
						th Ghi chú
				tbody
					tr
						td kho chung 
						td mét khôi(m2)
						td 130.000
						td 
							p Mét khôi (m3) được tính theo công thức 
							p Dài  x Rộng x Cao
							p Hàng hóa được sắp xếp trên ô kệ tiêu chuẩn. 
		.title-red
			.dash-red 
			.text Bảng giá cho thuê kho giá rẻ
		.caption
			p Với những doanh nghiệp muốn lưu trữ hàng hóa cố định, ít xuất nhập; hoặc các khách hàng muốn tìm chỗ lưu hàng chuyển dọn tạm thời thì Saigon Express có giải pháp lưu trữ siêu tiết kiệm dành cho bạn. 
				a(href="#") Cam kết giá rẻ cạnh tranh hàng đầu thị trường.

		.table-red
			table
				thead
					tr
						th Loại dịch vụ
						th Đơn vị tính
						th Đơn giá (Vnd/tháng)
						th Ghi chú
				tbody
					tr
						td kho chung 
						td mét khôi(m2)
						td 130.000
						td 
							p Mét khôi (m3) được tính theo công thức 
							p Dài  x Rộng x Cao
							p Hàng hóa được sắp xếp trên ô kệ tiêu chuẩn. 
		.title-red
			.dash-red 
			.text Bảng giá các dịch vụ tiện ích đi kèm
		.caption
			p Bên cạnh dịch vụ lưu kho, Saigon Express còn cung cấp nhiều dịch vụ khác hỗ trợ khách hàng: 
		.table-red
			table
				thead
					tr
						th Loại dịch vụ
						th Đơn vị tính
						th Đơn giá (Vnd/tháng)
						th Ghi chú
				tbody
					tr
						td kho chung 
						td mét khôi(m2)
						td 130.000
						td 
							p Mét khôi (m3) được tính theo công thức 
							p Dài  x Rộng x Cao
							p Hàng hóa được sắp xếp trên ô kệ tiêu chuẩn. 
		.title-red
			.dash-red 
		.subtitle Ghi chú
		ul
			li Phí thuê kho đã có bảo hiểm hàng hóa.
			li Chi phí thuê kho sẽ được tính căn cứ vào lượng hàng từng lưu trữ (đã được xuất đi) và lượng hàng tồn kho cuối tháng.
				ul
					li Nếu hàng hóa có thời gian lưu trữ tại kho nhỏ hơn hoặc bằng 15 ngày: Tính 50% đơn giá (65.000 VNĐ/m3).
					li Nếu hàng hóa có thời gian lưu trữ tại kho lớn hơn 15 ngày: tính 100% đơn giá (130.000VNĐ/m3).
					li Thời gian hàng hóa lưu kho sẽ được tính từ ngày “nhập hàng/đầu tháng” đến ngày “xuất hàng/cuối tháng”.
					li Lượng hàng hóa xuất đi sẽ được tính theo phương pháp Nhập trước xuất trước (FIFO)
		.row
			.col.w-full(class='lg:w-1/2')
				.over-flow-scollbar
					p Ngoài ra, Saigon Express còn cung cấp dịch vụ Taxi tải, dịch vụ vận chuyển giao nhận hàng hóa cho khách hàng lưu kho. Hệ thống xe thuộc sở hữu của công ty nên Saigon Express có thể mang tới cho bạn mức giá đặc biệt ưu đãi, rẻ hơn so với thị trường. 
					p Để được báo giá vận chuyển chi tiết, vui lòng liên hệ hotline và cho nhân viên tư vấn biết loại xe, địa chỉ giao nhận hàng cũng như khối lượng hàng hóa mà bạn muốn vận chuyển. 
					.subtitle  Các tiện ích tại kho hàng  Saigon Express 
					ul
						li Kiểm đếm hàng hóa
						li Đóng gói, dán nhãn
						li Vận chuyển, giao nhận hàng hóa 
						li Bốc xếp hàng hóa, lên xuống hàng container bằng xe nâng chuyên dụng
						li Báo cáo xuất nhập tồn định kỳ miễn phí
					p Ngoài ra, Saigon Express còn cung cấp dịch vụ Taxi tải, dịch vụ vận chuyển giao nhận hàng hóa cho khách hàng lưu kho. Hệ thống xe thuộc sở hữu của công ty nên Saigon Express có thể mang tới cho bạn mức giá đặc biệt ưu đãi, rẻ hơn so với thị trường. 
					p Để được báo giá vận chuyển chi tiết, vui lòng liên hệ hotline và cho nhân viên tư vấn biết loại xe, địa chỉ giao nhận hàng cũng như khối lượng hàng hóa mà bạn muốn vận chuyển. 
					p Ngoài ra, Saigon Express còn cung cấp dịch vụ Taxi tải, dịch vụ vận chuyển giao nhận hàng hóa cho khách hàng lưu kho. Hệ thống xe thuộc sở hữu của công ty nên Saigon Express có thể mang tới cho bạn mức giá đặc biệt ưu đãi, rẻ hơn so với thị trường. 
					p Để được báo giá vận chuyển chi tiết, vui lòng liên hệ hotline và cho nhân viên tư vấn biết loại xe, địa chỉ giao nhận hàng cũng như khối lượng hàng hóa mà bạn muốn vận chuyển. 
					p Ngoài ra, Saigon Express còn cung cấp dịch vụ Taxi tải, dịch vụ vận chuyển giao nhận hàng hóa cho khách hàng lưu kho. Hệ thống xe thuộc sở hữu của công ty nên Saigon Express có thể mang tới cho bạn mức giá đặc biệt ưu đãi, rẻ hơn so với thị trường. 
					p Để được báo giá vận chuyển chi tiết, vui lòng liên hệ hotline và cho nhân viên tư vấn biết loại xe, địa chỉ giao nhận hàng cũng như khối lượng hàng hóa mà bạn muốn vận chuyển. 
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					a(href="#")
						img(src="./img/step/2.jpg", alt="")
		.external-link 
			em.mdi.mdi-
			a(href="#") Cho thuê xe tải chở hàng: 
			span Giá rẻ chất lượng
		.btn-center
			.contact-icon
				.icon
					a(href="#")
						em.mdi.mdi-phone
						.phone
							span (028) 3838 2238
				.icon
					a(href="#")
						em.mdi.mdi-cellphone
						.phone
							span 0939 176 176