.global-breadcrumb
	.container
		ol.breadcrumb
			li.breadcrumb-item
				a(href='#')
			li.breadcrumb-item
				a(href='#') Bảng giá
			li.breadcrumb-item.active(aria-current='page') Bảng giá cho thuê kho
