.storage-progress-stage
	.container
		ul
			li
				a(href="#")
					.step 01
					.box
						.text Chọn kho
			li
				a(href="#")
					.step 02
					.box
						.text Chọn Loại kho
			li
				a(href="#")
					.step 03
					.box
						.text Chọn Diện tích và thời gian thuê kho
			li
				a(href="#")
					.step 04
					.box
						.text Dịch vụ tiện ích đi kèm
			li.active
				a(href="#")
					.step 05
					.box
						.text Thông tin liên hệ
section.storage-calcualte.storage-calcualte-step-5
	.container.padding-section
		.stage-wrap
			.zone-title.small thông tin liên hệ
			.wrapper-form
				.wrap-form
					.form-group
						input(type="text" placeholder='Họ và tên')
					.form-group
						input(type="text" placeholder='Số điện thoại')
					.form-group
						input(type="text" placeholder='Email')
					.form-group
						input(type="text" placeholder='Nội dung')
					.btn-left
						a(href="#").btn.btn-primary.red
							span Gửi yêu cầu
							em.mdi.mdi-arrow-right