section.home-3section.home-3.main-line
	.container
		h2.main-title.text-center tại sao chọn chúng tôi
		.row.justify-between
			.col(class="w-full lg:w-1/4 box-left")
				.list-item
					.item
						.icon
							img(src="./img/icon/h2.png", alt="")
						.content
							h3.decs 01. Giá cả cạnh tranh
							p Saigon Express cung cấp các giải pháp vận chuyển và lưu trữ siêu tiết kiệm, thường xuyên có các chương trình ưu đãi.
					.item
						.icon
							img(src="./img/icon/h2.png", alt="")
						.content
							h3.decs 01. Giá cả cạnh tranh
							p Saigon Express cung cấp các giải pháp vận chuyển và lưu trữ siêu tiết kiệm, thường xuyên có các chương trình ưu đãi.
					.item
						.icon
							img(src="./img/icon/h2.png", alt="")
						.content
							h3.decs 01. Giá cả cạnh tranh
							p Saigon Express cung cấp các giải pháp vận chuyển và lưu trữ siêu tiết kiệm, thường xuyên có các chương trình ưu đãi.
			.col(class="w-full lg:w-1/4 box-right")
				.list-item
					.item
						.icon
							img(src="./img/icon/h2.png", alt="")
						.content
							h3.decs 01. Giá cả cạnh tranh
							p Saigon Express cung cấp các giải pháp vận chuyển và lưu trữ siêu tiết kiệm, thường xuyên có các chương trình ưu đãi.
					.item
						.icon
							img(src="./img/icon/h2.png", alt="")
						.content
							h3.decs 01. Giá cả cạnh tranh
							p Saigon Express cung cấp các giải pháp vận chuyển và lưu trữ siêu tiết kiệm, thường xuyên có các chương trình ưu đãi.
					.item
						.icon
							img(src="./img/icon/h2.png", alt="")
						.content
							h3.decs 01. Giá cả cạnh tranh
							p Saigon Express cung cấp các giải pháp vận chuyển và lưu trữ siêu tiết kiệm, thường xuyên có các chương trình ưu đãi.
section.home-4.main-line
	.container
		.row.justify-between
			- for(i=0;i<5;i++)
				.col(class="w-full sm:w-1/2 md:w-1/6")
					.item
						.icon
							img(src="./img/icon/h3.png", alt="")
						.content
							h3.title 10.000+
							p Khách hàng hài lòng
