.home-3
	@media (min-width: 1025px)
		background-image: url(../img/home/bg1.png)
		background-size: cover
		background-position: center center
	.main-title
		@media (min-width: 1025px)
			color: #fff
	.list-item
		.item
			@media screen and ( max-width: 1024px)
				@apply mb-4
		.icon
			display: flex
			justify-content: center
		.content
			margin-top: 20px
			text-align: center
			@apply leading-relaxed
			.decs
				font-weight: 700
				font-size: 18px
				@media (min-width: 1025px)
					color: #fff
			p
				color: #adadad
				font-size: 14px
				margin-top: 10px
				height: 76px
				display: -webkit-box
				-webkit-line-clamp: 4
				-webkit-box-orient: vertical
				overflow: hidden
	@media (min-width: 1025px)
		position: relative
		&::before
			content: url('../img/home/4.png')
			position: absolute
			bottom: 30px
			left: 0
		&::after
			content: url('../img/home/5.png')
			position: absolute
			bottom: 30px
			right: 0
		.box-left
			.list-item
				.icon
					justify-content: flex-end
				.content
					text-align: right
		.box-right
			.list-item
				.icon
					justify-content: flex-start
				.content
					text-align: left
.home-4
	background: #fff
	padding: 50px 0 80px
	@media screen and ( max-width: 1024px)
		padding: 50px
		
	.justify-between
		@media screen and ( max-width:767px)
			@apply justify-center
			
	.item
		.icon
			display: flex
			justify-content: center
			align-items: center
		.content
			text-align: center
			.title
				@apply text-32 text-primary font-bold pt-4
				@screen lg
					@apply text-48
			p
				@apply text-16 pt-2
				@screen lg
					@apply text-18
	.mobile-swiper
		@apply hidden
		@media screen and ( max-width: 767px)
			@apply block
			
		.container
			@apply relative
	.nav-arrow-prev
		left: -60px
		@media screen and ( max-width: 1100px)
			left: -40px
			
	.nav-arrow-next
		right: -60px
		@media screen and ( max-width: 1100px)
			right: -40px
	.nav-arrow-prev,.nav-arrow-next
		@apply static mx-4 mt-8
		span
			@apply text-16
	.button-wrapper-center
		@apply mt-8