section.about-wrapper
	.tong-quan.main-line
		.container
			h2.main-title.text-center tổng quan
			.row.pt-20
				.col(class="w-full lg:w-1/2")
					.image
						img(src="./img/about/1.png", alt="")
				.col(class="w-full lg:w-1/2")
					.content(class=" overflow-y-scroll")
						p Saigon Express được thành lập ngày 23/10/2014. Theo dòng chảy của nền kinh tế liên tục biến chuyển, Saigon Express nhanh nhạy nắm bắt xu thế, đi tắt đón đầu và không ngừng cải tiến dịch vụ, mở rộng lĩnh vực hoạt động. Ngày nay, thương hiệu Saigon Express vững vàng trở thành một trong những đơn vị hàng đầu cả nước về hoạt động vận tải chuyển dọn, kho vận, logistics.
						p Trải qua nhiều năm hoạt động và phát triển, Saigon Express đã có nhiều bước tiến vượt bậc về quy mô và chất lượng dịch vụ. Hiện tại, Saigon Express đã xây dựng được hệ sinh thái doanh nghiệp lớn mạnh với hệ thống nhà kho hiện đại hơn 100.000 m3 phân bố rộng khắp TP.HCM và Hà Nội, cùng đội ngũ hơn 100 xe tải chuyên dụng lớn nhỏ phục vụ vận chuyển khắp cả nước. 
						p Saigon Express được thành lập ngày 23/10/2014. Theo dòng chảy của nền kinh tế liên tục biến chuyển, Saigon Express nhanh nhạy nắm bắt xu thế, đi tắt đón đầu và không ngừng cải tiến dịch vụ, mở rộng lĩnh vực hoạt động. Ngày nay, thương hiệu Saigon Express vững vàng trở thành một trong những đơn vị hàng đầu cả nước về hoạt động vận tải chuyển dọn, kho vận, logistics.
						p Trải qua nhiều năm hoạt động và phát triển, Saigon Express đã có nhiều bước tiến vượt bậc về quy mô và chất lượng dịch vụ. Hiện tại, Saigon Express đã xây dựng được hệ sinh thái doanh nghiệp lớn mạnh với hệ thống nhà kho hiện đại hơn 100.000 m3 phân bố rộng khắp TP.HCM và Hà Nội, cùng đội ngũ hơn 100 xe tải chuyên dụng lớn nhỏ phục vụ vận chuyển khắp cả nước. 
	.giai-phap.main-line
		.container
			h2.main-title.text-center các giải pháp mà sài gòn express cung cấp
			.main-slide
				.swiper-container
					.swiper-wrapper
						- for(i=0;i<3;i++)
							.swiper-slide
								.item-wrapper
									.image-transport
										img(src="./img/about/2.png", alt="")
									.content-wrapper
										.icon
											img(src="./img/icon/ab1.png", alt="")
										h3.title TAXI TẢI & VẬN CHUYỂN HÀNG HÓA
										a(href="#" data-fancybox="popup"+i+"" data-src="#about-modal-"+i+"").button Xem chi tiết
							.giaiphap-popup(style="display : none", id="about-modal-"+i+"")
								.container
									.row
										.col(class="w-full lg:w-1/2")
											.img-popup
												img(src="./img/about/2.png", alt="")
										.col(class="w-full lg:w-1/2")
											h3.title  TAXI TẢI & VẬN CHUYỂN HÀNG HÓA
											.decs
												p Dàn xe tải đa dạng chủng loại, trọng tải. Đội ngũ tài xế thông thuộc đường xá, kinh nghiệm lâu năm. Cam kết vận chuyển hàng hóa an toàn đúng tiến độ. Phục vụ phạm vi cả nước và hoạt động 24/24, đáp ứng nhu cầu vận chuyển của quý khách hàng mọi lúc mọi nơi.
				.swiper-prev
					em.mdi.mdi-arrow-left
				.swiper-next
					em.mdi.mdi-arrow-right
	.tam-nhin.main-line
		.container
			.row
				.col(class="w-full lg:w-1/2")
					h2.main-title.text-left tầm nhìn
					.content(class=" overflow-y-scroll")
						h3.decs Năm 2019, Saigon Express đã thay mặt các doanh nghiệp logistic Việt Nam tham gia hội nghị thường niên lần thứ tư về tài trợ chuỗi cung ứng ở châu Á – Thái Bình Dương (APEC) với nội dung “Phát triển thị trường tài trợ chuỗi cung ứng (SCF) tại các nền kinh tế mới nổi”. Cùng thảo luận về các vấn đề liên quan góp phần thúc đẩy hoàn thiện và phát triển chuỗi cung ứng toàn cầu
						p Để tiếp tục khẳng định và củng cố vị thế của doanh nghiệp trong hành trình hội nhập cùng xu hướng vận hành của nền kinh tế thế giới. Trong tương lai, Saigon Express hướng tới các mục tiêu : 
							span
								em.mdi.mdi-record
								| Tập trung hoàn thiện, phát triển mạnh mẽ các lĩnh vực trọng tâm hiện có của doanh nghiệp 
							span
								em.mdi.mdi-record
								| Mở rộng chuỗi cung ứng dịch vụ logistics ra phạm vi toàn quốc, đặc biệt tại các tỉnh và thành phố trọng điểm
							span
								em.mdi.mdi-record
								| Tập trung hoàn thiện, phát triển mạnh mẽ các lĩnh vực trọng tâm hiện có của doanh nghiệp 
							span
								em.mdi.mdi-record
								| Mở rộng chuỗi cung ứng dịch vụ logistics ra phạm vi toàn quốc, đặc biệt tại các tỉnh và thành phố trọng điểm
							span
								em.mdi.mdi-record
								| Tập trung hoàn thiện, phát triển mạnh mẽ các lĩnh vực trọng tâm hiện có của doanh nghiệp 
							span
								em.mdi.mdi-record
								| Mở rộng chuỗi cung ứng dịch vụ logistics ra phạm vi toàn quốc, đặc biệt tại các tỉnh và thành phố trọng điểm
							span
								em.mdi.mdi-record
								| Tập trung hoàn thiện, phát triển mạnh mẽ các lĩnh vực trọng tâm hiện có của doanh nghiệp 
							span
								em.mdi.mdi-record
								| Mở rộng chuỗi cung ứng dịch vụ logistics ra phạm vi toàn quốc, đặc biệt tại các tỉnh và thành phố trọng điểm
				.col(class="w-full lg:w-1/2")
					.image
						img(src="./img/about/3.png", alt="")
	.about-us-destiny.about-us-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.image-wrap.bg-red-border
						img(src="./img/about/3.png", alt="")
				.col.w-full(class='lg:w-1/2')
					.content
						.main-title.text-left Sứ mệnh
						.over-flow-scollbar 
							p Xây dựng và phát triển các dịch vụ logistics, tạo ra giải pháp tối ưu nhằm đáp ứng tối đa nhu cầu của khách hàng. Mang đến giá trị thiết thực cho xã hội. Nghiên cứu các giải pháp kho vận logistics tích hợp, trọn gói, hình thành một chuỗi cung ứng dịch vụ trọn vẹn từ A đến Z. Từng bước hoàn thiện chuỗi cung ứng dịch vụ logistics tại hai trung tâm TP.HCM và Hà Nội, sau đó mở rộng toàn quốc, vươn tầm ra khu vực và thế giới.
	.about-us-core.about-us-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.content
						.main-title.text-left Giá trị cốt lọi
						.toggle-wrapper
							.toggle-item
								.title
									.icon
										.wrap
											img(src="./img/icon/ab1.png", alt="")
										span How to choose toys to make your baby smarter?
									em.mdi.mdi-chevron-down
								article
									.caption
										p Children's imagination and creativity will develop from an early age. Wooden toys come with groups that have such creative support: blocks, or puzzles; Toy assembles many details with many different shape blocks: square, round, triangle, ... and also different colors. It seems simple, but as Nam Hoa Toys said, the child is the one who decides, only after a few hours of thinking and "struggling" with the wooden blocks, tall buildings, castles, trucks, goods a series of cute animal images, ... will show up in the eyes of people most visually and vividly. In addition to being a source of imagination, Nam Hoa does not mention motor skills and hand-eye-brain coordination will gradually be improved. One of the important developmental processes for babies.
							.toggle-item
								.title
									.icon
										.wrap
											img(src="./img/icon/ab1.png", alt="")
										span How to choose toys to make your baby smarter?
									em.mdi.mdi-chevron-down
								article
									.caption
										p Children's imagination and creativity will develop from an early age. Wooden toys come with groups that have such creative support: blocks, or puzzles; Toy assembles many details with many different shape blocks: square, round, triangle, ... and also different colors. It seems simple, but as Nam Hoa Toys said, the child is the one who decides, only after a few hours of thinking and "struggling" with the wooden blocks, tall buildings, castles, trucks, goods a series of cute animal images, ... will show up in the eyes of people most visually and vividly. In addition to being a source of imagination, Nam Hoa does not mention motor skills and hand-eye-brain coordination will gradually be improved. One of the important developmental processes for babies.
							.toggle-item
								.title
									.icon
										.wrap
											img(src="./img/icon/ab1.png", alt="")
										span How to choose toys to make your baby smarter?
									em.mdi.mdi-chevron-down
								article
									.caption
										p Children's imagination and creativity will develop from an early age. Wooden toys come with groups that have such creative support: blocks, or puzzles; Toy assembles many details with many different shape blocks: square, round, triangle, ... and also different colors. It seems simple, but as Nam Hoa Toys said, the child is the one who decides, only after a few hours of thinking and "struggling" with the wooden blocks, tall buildings, castles, trucks, goods a series of cute animal images, ... will show up in the eyes of people most visually and vividly. In addition to being a source of imagination, Nam Hoa does not mention motor skills and hand-eye-brain coordination will gradually be improved. One of the important developmental processes for babies.
						
				.col.w-full(class='lg:w-1/2')
					.image-wrap.bg-red-border
						img(src="./img/about/3.png", alt="")
	.about-us-culture.about-us-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.image-wrap.bg-red-border
						img(src="./img/about/3.png", alt="")
				.col.w-full(class='lg:w-1/2')
					.content
						.main-title.text-left Van hóa danh nghiệp
						.over-flow-scollbar
							p Mỗi thành viên của Saigon Express là một “viên gạch” quan trọng để xây dựng nên doanh nghiệp phát triển vững mạnh. Chính vì thế ban lãnh đạo công ty luôn tạo môi trường làm việc thân thiện, năng động lý tưởng để mỗi cá nhân có cơ hội phát huy năng lực và cống hiến hết mình vì mục tiêu chung. 
							p Đề cao tinh thần đoàn kết giữa các cá nhân, phòng ban. Đồng nghiệp thân thiện, luôn hỗ trợ giúp đỡ nhau, tạo thành một khối liên kết chặt chẽ giúp doanh nghiệp vượt qua mọi rào cản, ngày càng phát triển.  
							p Tạo dựng sự tự hào trong mỗi nhân viên. Sự tự hào chính là chìa khóa, giúp mọi cá nhân không ngừng học hỏi vươn lên, tự rèn luyện bản thân, luôn có thái độ tích cực, chủ động hơn trong công việc của mình. Những đức tính tuyệt vời của nhân viên bồi đắp thành giá trị tốt đẹp của tập thể, tạo nên điểm nhấn của văn hóa doanh nghiệp Saigon Express!


	.su-menh
		.icon.flex.justify-center
			img(src="./img/icon/ab2.png", alt="")
		h2.main-title.text-center sứ mệnh
		.container
			.content.text-center
				p Xây dựng và phát triển các dịch vụ logistics, tạo ra giải pháp tối ưu nhằm đáp ứng tối đa nhu cầu của khách hàng. Mang đến giá trị thiết thực cho xã hội. Nghiên cứu các giải pháp kho vận logistics tích hợp, trọn gói, hình thành một chuỗi cung ứng dịch vụ trọn vẹn từ A đến Z. Từng bước hoàn thiện chuỗi cung ứng dịch vụ logistics tại hai trung tâm TP.HCM và Hà Nội, sau đó mở rộng toàn quốc, vươn tầm ra khu vực và thế giới.
	.gia-tri.main-line
		.icon.flex.justify-center
			img(src="./img/icon/ab3.png", alt="")
		h2.main-title.text-center giá trị cốt lõi
		.container
			.row
				.col(class="w-full lg:w-1/2")
					.item-child
						.image
							img(src="./img/icon/ab4.png", alt="")
						h3.title.text-center khách hàng là trọng tâm
						.content
							p Dịch vụ của Saigon Express được xây dựng nhằm mục đích phục vụ khách hàng, mang đến giá trị cho xã hội. Khách hàng hài lòng chính là sự thành công mà chúng tôi luôn nỗ lực để đạt được. 
				.col(class="w-full lg:w-1/2")
					.item-child
						.image
							img(src="./img/icon/ab4.png", alt="")
						h3.title.text-center khách hàng là trọng tâm
						.content
							p Dịch vụ của Saigon Express được xây dựng nhằm mục đích phục vụ khách hàng, mang đến giá trị cho xã hội. 
				.col(class="w-full lg:w-1/3 child")
					.item-child
						.image
							img(src="./img/icon/ab4.png", alt="")
						h3.title.text-center Trách nhiệm tạo nên thành công
						.content
							p Dịch vụ của Saigon Express được xây dựng nhằm mục đích phục vụ khách hàng, mang đến giá trị cho xã hội. Khách hàng hài lòng chính là sự thành công mà chúng tôi luôn nỗ lực để đạt được. 
				.col(class="w-full lg:w-1/3 child")
					.item-child
						.image
							img(src="./img/icon/ab4.png", alt="")
						h3.title.text-center Trách nhiệm tạo nên thành công
						.content
							p Dịch vụ của Saigon Express được xây dựng nhằm mục đích phục vụ khách hàng, mang đến giá trị cho xã hội. Khách hàng hài lòng chính là sự thành công mà chúng tôi luôn nỗ lực để đạt được. 
				.col(class="w-full lg:w-1/3 child")
					.item-child
						.image
							img(src="./img/icon/ab4.png", alt="")
						h3.title.text-center Trách nhiệm tạo nên thành công
						.content
							p Dịch vụ của Saigon Express được xây dựng nhằm mục đích phục vụ khách hàng, mang đến giá trị cho xã hội. Khách hàng hài lòng chính là sự thành công mà chúng tôi luôn nỗ lực để đạt được. 
			.row.doanh-nghiep.main-line
				.col(class="w-full lg:w-1/2")
					.image
						img(src="./img/about/5.png", alt="")
				.col(class="w-full lg:w-1/2 ")
					h2.main-title văn hoá doanh nghiệp
					.content
						p Mỗi thành viên của Saigon Express là một “viên gạch” quan trọng để xây dựng nên doanh nghiệp phát triển vững mạnh. Chính vì thế ban lãnh đạo công ty luôn tạo môi trường làm việc thân thiện, năng động lý tưởng để mỗi cá nhân có cơ hội phát huy năng lực và cống hiến hết mình vì mục tiêu chung. 
						p Đề cao tinh thần đoàn kết giữa các cá nhân, phòng ban. Đồng nghiệp thân thiện, luôn hỗ trợ giúp đỡ nhau, tạo thành một khối liên kết chặt chẽ giúp doanh nghiệp vượt qua mọi rào cản, ngày càng phát triển.  
						p Tạo dựng sự tự hào trong mỗi nhân viên. Sự tự hào chính là chìa khóa, giúp mọi cá nhân không ngừng học hỏi vươn lên, tự rèn luyện bản thân, luôn có thái độ tích cực, chủ động hơn trong công việc của mình. Những đức tính tuyệt vời của nhân viên bồi đắp thành giá trị tốt đẹp của tập thể, tạo nên điểm nhấn của văn hóa doanh nghiệp Saigon Express!
	.doi-tac.main-line
		.container
			h2.main-title.text-left đối tác
			p.text Tại Sai Gon Express, chúng tôi phát triển dịch vụ vận chuyển tốt nhất cho khách hàng của mình. Bằng cách hợp tác với những đối tác hàng đầu về vận chuyển, tiện ích và giao dịch. Đối tác đồng hành cùng chúng tôi là những bên uy tín, đáng tin cậy và có chung mục đích đặt mọi lợi ích của khách hàng lên hàng đầu.
			.swiper-container
				.swiper-wrapper
					- for(i=0;i<9;i++)
						.swiper-slide
							.image
								img(src="./img/about/6.png", alt="")
			.button-slide
				.swiper-prev
					em.mdi.mdi-arrow-left
				.swiper-next
					em.mdi.mdi-arrow-right
