section.personnel.main-line
	.container
		h2.main-title.line.text-center tuyển dụng
		.row.main-child.items-center
			.col(class="w-full md:w-1/2")
				h3.title văn hoá công ty
				.content
					p Tại Sài Gòn Express, yếu tố con người luôn được đề cao. Các nhân viên của công ty vừa đáp ứng được chuyên môn nghề nghiệp vừa tôn trọng trong ứng xử và tận tâm, chu đáo trong phục vụ khách hàng. Sài Gòn Express luôn trân trọng những giá trị của mỗi nhân viên và Sài Gòn Express cũng là một khối đoàn kết bền vững, từ đó tạo ra sức mạnh tập thể cho cả công ty và cho mỗi nhân viên.
					p Công ty đánh giá khách quan, đúng mức về sự đóng góp của mỗi thành viên nhằm giúp nhân viên ý thức vai trò của mình trong việc hình thành văn hóa Công ty, không ngừng học tập, sáng tạo, cần cù và chính trực. Chính sách nhân sự luôn được cải tiến để tập thể Sài Gòn Express có được môi trường làm việc tốt nhất
			.col(class="w-full md:w-1/2")
				.image
					img(src="./img/personnel/1.png", alt="")
		h3.title.text-center cơ hội nghề nghiệp
