extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'homepage'

block main
	include ../components/breadcrumb/index.pug
	include ../components/index/home-banner/index.pug
	include ../components/index/h-1/index.pug
	include ../components/index/h-2/index.pug
	include ../components/index/h-3/index.pug
	include ../components/index/h-4/index.pug
	include ../components/index/h-5/index.pug
	include ../components/index/h-6/index.pug
