extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'homepage'

block main
	include ../components/banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/service/detail.pug
