.contact
	background: #fff
	.row
		padding: 30px 0 0 0 
	.contact-us
		background: #f9f9f9
		padding: 50px
		@media screen and ( max-width: 767px)
			padding: 40px 30px 
			
		.logo
			display: flex
			justify-content: center
			align-items: center
		.title
			text-transform: uppercase
			font-size: 18px
			font-weight: 700
			margin-top: 20px
		.info
			margin: 12px 0
			@apply flex items-center
			&:first-child
				@apply items-start
			em
				color: $mainColor
				vertical-align: baseline
				font-size: 16px
			p
				margin: 0 10px
				@apply text-16
				@screen lg
					@apply text-18
			img
				width: 14px
				height: 13px
	.map
		width: 100%
		padding: 30px 0
	.frm-btn
		@apply static  mt-8
		@media screen and ( max-width: 767px)
			@apply static mt-6
			
	.wrap-form
		@apply relative
		.row
			padding: 0