section.contact.main-line
	.container
		h2.main-title.line.text-center liên hệ
		.row
			.col(class="w-full lg:w-5/12")
				.contact-us
					.logo
						img(src="./img/logo.png", alt="")
					h3.title.text-center công ty tnhh tmdv saigon express
					.info
						em.mdi.mdi-home
						p Số 121, Đường Hoàng Quốc Việt, Phường Phú Thuận, Quận 7, Hồ Chí Minh
					.info
						img(src="./img/icon/ct1.png", alt="")
						p (028) 3838 2238
					.info
						em.mdi.mdi-phone
						p 0939 176 176h
					.info
						img(src="./img/icon/ct2.png", alt="")
						p taxitaisaigon.vn
					.info
						em.mdi.mdi-email
						p info@taxitaisaigon.vn
			.col(class="w-full lg:w-7/12 ")
				.faq-form
					.wrap-form
						.form-group
							input(type="text" placeholder='họ và têm')
						.form-group
							input(type="text" placeholder='họ và têm')
						.form-group
							textarea(placeholder='Nội dung')
						.frm-btn
							input(type="submit" value ="Send")

		.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.269451191511!2d106.74051131462194!3d10.7136881923641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752546f451cd1d%3A0xec2c1e04307368ff!2zMTIxIEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBQaMO6IE3hu7ksIFF14bqtbiA3LCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1597742379250!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
