.home-banner
	@apply relative
	.banner
		position: relative
		width: 100%
		a
			@media screen and ( max-width: 1024px)
				display: block
				height: 450px
				width: auto
				img
					width: 100%
					height: 100%
					object-fit: cover
			@media screen and ( max-width: 767px)
				height: 350px
			@media screen and ( max-width: 420px)
				height: 300px
			@media screen and ( min-width: 1024.1px)
				+img-ratio(780/1920)
		.content
			@apply w-full
			position: absolute 
			left: 50%
			bottom: 60px
			transform: translateX(-50%)
			h3
				text-align: center
				@apply text-24 w-full
				font-weight: 700
				color: #fff
				@screen lg
					@apply text-36
			p
				@apply text-24 text-center w-full
				color: #fff
				@screen lg
					@apply text-36
	.swiper-pagination
		@apply absolute left-50 translate-x-50
		bottom: 30px
	.swiper-pagination-bullet
		@apply mx-1 opacity-100 transition
		background: #e3e3e3
		height: 10px
		width: 10px
	.swiper-pagination-bullet-active
		background: $mainColor
		border: 2px solid #fff
