section.home-banner
	.swiper-container
		.swiper-wrapper
			
			.swiper-slide
				.banner
					a(href="#")
						img(src="./img/home/1.png", alt="")
					.content
						h3 Sài Gòn Express 
						p Giải pháp vận chuyển tối ưu
			.swiper-slide
				.banner
					a(href="#")
						img(src="./img/home/bg1.png", alt="")
					.content
						h3 Sài Gòn Express 
						p Giải pháp vận chuyển tối ưu
			.swiper-slide
				.banner
					a(href="#")
						img(src="./img/home/bg2.png", alt="")
					.content
						h3 Sài Gòn Express 
						p Giải pháp vận chuyển tối ưu
			.swiper-slide
				.banner
					a(href="#")
						img(src="./img/home/1.png", alt="")
					.content
						h3 Sài Gòn Express 
						p Giải pháp vận chuyển tối ưu
	.swiper-pagination
