section.service-detail.service-display-1
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.content
					.main-title.text-left Kho tự quản
					.caption 
						p vụ Kho tự quản là mô hình kho lưu trữ để phục vụ cho các cá nhân hoặc doanh nghiệp có nhu cầu thuê không gian lưu trữ hàng hóa và tự quản lý hàng hóa, khi mà bạn không có không gian để lưu trữ tại cơ sở của mình. 
						p Dịch vụ cho thuê kho tự quản của Saigon Express có đa dạng tích cho khách hàng lựa chọn từ 100m2, 150m2, 400m2, 550m2, 1000m2... Diện tích kho không giới hạn tùy thuộc vào nhu cầu của người thuê. Các kho có cách bố trí tương đồng, được ngăn cách bởi các vách ngăn chắc chắn, đảm bảo không có sự xâm nhập nào khác ngoài chủ thuê kho. 
			.col.w-full(class='lg:w-1/2')
				.image-wrap
					img(src="./img/about/2.png", alt="")
section.service-detail.service-display-2
	.container
		.main-title.text-center  GIẢI PHÁP CHO THUÊ KHO TỰ QUẢN LÝ
		.zone-description Có đa dạng diện tích để khách hàng chọn lựa. Tất cả các kho đều được xây dựng kiên cố, sạch sẽ, nền bê tông cao ráo. Khách hàng tự quản lý bằng chìa khóa riêng, chủ động quy hoạch, bố trí bên trong kho theo mong muốn của mình. Dưới đây là bảng giá kho tự quản cụ thể:
		.table-red
			table
				thead
					tr
						th STT
						th Diện tích kho tự quản
						th  Từ km 11 đến 44
						th Ghi chú
				tbody
					tr
						td 1
						td 120m2 (6mx20m)
						td 130.000
						td Báo giá sẽ có chênh lệch tùy thuộc vào khu vực và vị trí của kho tự quản.
							
					tr
						td 1
						td 120m2 (6mx20m)
						td 130.000
						td Báo giá sẽ có chênh lệch tùy thuộc vào khu vực và vị trí của kho tự quản.
							
					tr
						td 1
						td 120m2 (6mx20m)
						td 130.000
						td Báo giá sẽ có chênh lệch tùy thuộc vào khu vực và vị trí của kho tự quản.
section.service-detail.service-display-3
	.container
		.main-title.text-center Các tiện ích tại kho hàng  Saigon Express 
		.row
			-for(i=0;i<6;i++)
				.col.w-full(class='sm:w-1/2 lg:w-4/12')
					.col-match-height
						.item
							.image-wrapper
								a(href="#")
									img(src="./img/about/2.png", alt="")
							.caption
								.text Kiểm đến hàng hóa Kiểm đến hàng hóa
							.over-layout
								.icon
									.wrap
										img(src="./img/icon/ab2.png", alt="")
								.title Lợi ích của kho
section.about-us-core.about-us-section.service-display-4
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.content
						.main-title.text-left Ưu điểm của kho Sec
						.toggle-wrapper
							.toggle-item
								.title
									.icon
										.wrap
											img(src="./img/icon/ab1.png", alt="")
										span How to choose toys to make your baby smarter?
									em.mdi.mdi-chevron-down
								article
									.caption
										p Children's imagination and creativity will develop from an early age. Wooden toys come with groups that have such creative support: blocks, or puzzles; Toy assembles many details with many different shape blocks: square, round, triangle, ... and also different colors. It seems simple, but as Nam Hoa Toys said, the child is the one who decides, only after a few hours of thinking and "struggling" with the wooden blocks, tall buildings, castles, trucks, goods a series of cute animal images, ... will show up in the eyes of people most visually and vividly. In addition to being a source of imagination, Nam Hoa does not mention motor skills and hand-eye-brain coordination will gradually be improved. One of the important developmental processes for babies.
							.toggle-item
								.title
									.icon
										.wrap
											img(src="./img/icon/ab1.png", alt="")
										span How to choose toys to make your baby smarter?
									em.mdi.mdi-chevron-down
								article
									.caption
										p Children's imagination and creativity will develop from an early age. Wooden toys come with groups that have such creative support: blocks, or puzzles; Toy assembles many details with many different shape blocks: square, round, triangle, ... and also different colors. It seems simple, but as Nam Hoa Toys said, the child is the one who decides, only after a few hours of thinking and "struggling" with the wooden blocks, tall buildings, castles, trucks, goods a series of cute animal images, ... will show up in the eyes of people most visually and vividly. In addition to being a source of imagination, Nam Hoa does not mention motor skills and hand-eye-brain coordination will gradually be improved. One of the important developmental processes for babies.
							.toggle-item
								.title
									.icon
										.wrap
											img(src="./img/icon/ab1.png", alt="")
										span How to choose toys to make your baby smarter?
									em.mdi.mdi-chevron-down
								article
									.caption
										p Children's imagination and creativity will develop from an early age. Wooden toys come with groups that have such creative support: blocks, or puzzles; Toy assembles many details with many different shape blocks: square, round, triangle, ... and also different colors. It seems simple, but as Nam Hoa Toys said, the child is the one who decides, only after a few hours of thinking and "struggling" with the wooden blocks, tall buildings, castles, trucks, goods a series of cute animal images, ... will show up in the eyes of people most visually and vividly. In addition to being a source of imagination, Nam Hoa does not mention motor skills and hand-eye-brain coordination will gradually be improved. One of the important developmental processes for babies.
						
				.col.w-full(class='lg:w-1/2')
					.image-wrap.bg-red-border
						img(src="./img/about/3.png", alt="")
section.service-detail.service-display-5
	.main-title.text-center Quy trình lưu kho
	.container
		.row
			.col.w-full(class='lg:w-8/12')
				.swiper-service-top
				
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.row
									.col.w-full(class='md:w-7/12')
										.image-wrapper
											a(href="#")
												img(src="./img/about/3.png", alt="")
									.col.w-full(class='md:w-5/12')
										.item
											.icon
												img(src="./img/icon/ab1.png", alt="")
											.title Lên kế hoạch chi tiết kiệm
											.caption Trước khi tiến hành vào việc vận chuyển và di dời nhà xưởng. Chúng tôi sẽ cùng thảo luận với khách hàng để đưa ra một bản kế hoạch chi 
							-for(i=0;i<8;i++)
								.swiper-slide
									.row
										.col.w-full(class='md:w-7/12')
											.image-wrapper
												a(href="#")
													img(src="./img/about/3.png", alt="")
										.col.w-full(class='md:w-5/12')
											.item
												.icon
													img(src="./img/icon/ab1.png", alt="")
												.title Lên kế hoạch chi tiết kiệm
												.caption Trước khi tiến hành vào việc vận chuyển và di dời nhà xưởng. Chúng tôi sẽ cùng thảo luận với khách hàng để đưa ra một bản kế hoạch chi tiết nội dung công việc cần thực hiện trong quá trình di dời. Việc này sẽ giúp quá trình di dời diễn ra khoa học hơn cũng như tránh ảnh hưởng đến dây chuyển làm việc của khách hàng.
					.btn-right
						.nav-prev
							span.mdi.mdi-arrow-left
						.nav-next
							span.mdi.mdi-arrow-right
			.col.w-full(class='lg:w-4/12')
				.swiper-service-thumb
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<8;i++)
								.swiper-slide
									.item
										.icon
											.wrap
												img(src="./img/icon/ab1.png", alt="")
										.content
											.title Bước 1
											.caption Khảo sát