section.media-display
	.container
		.row.media-display-wrapper
			.col.w-full(class='lg:w-1/2')
				figure.media-figure.media-big.image-media
					.figure-image.media-play
						.wrapper
							a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
								img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
							div(style='display: none;')
								a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
								a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
								a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
								a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
								a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

						.caption
							.text Video 1
							.icon
								img(src="./img/eyes.png", alt="")
						.caption-2
							.text album 2
			.col.w-full(class='lg:w-1/2')
				.row.h-full
					.col(class='w-1/2')
						figure.media-figure.image-media
							.figure-image.media-play
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.icon
										img(src="./img/play-icon.png", alt="")
									.text Video 1
								.caption-2
									.text album 2
									
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.text Video 1
									.icon
										img(src="./img/play-icon.png", alt="")
									
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.text Video 1
									.icon
										em.mdi.mdi-eye-outline
									
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.text Video 1
									.icon
										img(src="./img/play-icon.png", alt="")
									
		
				
		.row.media-display-wrapper
			.col.w-full(class='lg:w-1/2')
				figure.media-figure.media-big
					.figure-image.media-play
						.wrapper
							a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
								img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
							div(style='display: none;')
								a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
								a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
								a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
								a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
								a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

						.caption
							.text Video 1
							.icon
								img(src="./img/play-icon.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.row.h-full
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.icon
									.text Video 1
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.icon
									.text Video 1
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-gallery
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.icon
										img(src="./img/icon/eyes.png", alt="")
									.text Video 1
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(href='https://source.unsplash.com/sGEHs-HY-Oo/1500x1000' data-fancybox='images-preview' data-width='1500' data-height='1000' data-thumbs='{"autoStart":true}')
										img(src='https://source.unsplash.com/sGEHs-HY-Oo/240x160')
									div(style='display: none;')
										a(href='https://source.unsplash.com/Ai2TRdvI6gM/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Ai2TRdvI6gM/240x160')
										a(href='https://source.unsplash.com/Hau6K6VP5vs/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/Hau6K6VP5vs/240x160')
										a(href='https://source.unsplash.com/muFaKaGw0eE/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/muFaKaGw0eE/240x160')
										a(href='https://source.unsplash.com/eXHeq48Z-Q4/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/eXHeq48Z-Q4/240x160')
										a(href='https://source.unsplash.com/hBYzBU1xP6s/1500x1000', data-fancybox='images-preview', data-width='1500', data-height='1000', data-thumb='https://source.unsplash.com/hBYzBU1xP6s/240x160')

								.caption
									.icon
										img(src="./img/play-icon.png", alt="")
									.text Video 1
