section.media-display
	.container
		.row.media-display-wrapper
			.col.w-full(class='lg:w-1/2')
				figure.media-figure.media-big.image-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')
						.caption
							.text Video 1
							.icon
								img(src="./img/eyes.png", alt="")
						.caption-2
							.text album 2
			.col.w-full(class='lg:w-1/2')
				.row.h-full
					.col(class='w-1/2')
						figure.media-figure.image-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.icon
										img(src="./img/play-icon.png", alt="")
									.text Video 1
								.caption-2
									.text album 2
									
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.text Video 1
									.icon
										img(src="./img/play-icon.png", alt="")
									
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.text Video 1
									.icon
										em.mdi.mdi-eye-outline
									
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.text Video 1
									.icon
										img(src="./img/play-icon.png", alt="")
									
		
				
		.row.media-display-wrapper
			.col.w-full(class='lg:w-1/2')
				figure.media-figure.media-big
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

						.caption
							.text Video 1
							.icon
								img(src="./img/play-icon.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.row.h-full
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.icon
									.text Video 1
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.icon
									.text Video 1
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-gallery
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.icon
										img(src="./img/icon/eyes.png", alt="")
									.text Video 1
					.col(class='w-1/2')
						figure.media-figure
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

								.caption
									.icon
										img(src="./img/play-icon.png", alt="")
									.text Video 1
