.storage-progress-stage
	.container
		ul
			li
				a(href="#")
					.step 01
					.box
						.text Chọn kho
			li
				a(href="#")
					.step 02
					.box
						.text Chọn Loại kho
			li
				a(href="#")
					.step 03
					.box
						.text Chọn Diện tích và thời gian thuê kho
			li
				a(href="#")
					.step 04
					.box
						.text Dịch vụ tiện ích đi kèm
			li
				a(href="#")
					.step 05
					.box
						.text Thông tin liên hệ
section.storage-calcualte.storage-calcualte-step-2
	.container.padding-section
		.stage-wrap
			.zone-title.small Chọn loại khu
			.row
				.col.w-full(class='md:w-1/2')
					.col-match-height
						.item-checkbox
							.image-wrapper
								a(href="#")
									img(src="./img/icon/icon-2.png", alt="")
							.caption
								.qcheckbox
									input(type="checkbox")
								.title Kho tự quản 
								.content
									.description
										p Khách hàng có thể tự đóng gói, sắp xếp hồ sơ tài liệu để dễ dàng quản lý, trích lục
									.arrow-toggle
										em.mdi.mdi-chevron-down
				.col.w-full(class='md:w-1/2')
					.col-match-height
						.item-checkbox
							.image-wrapper
								a(href="#")
									img(src="./img/icon/icon-2.png", alt="")
							.caption
								.qcheckbox
									input(type="checkbox")
								.title Kho tự quản 
								.content
									.description
										p Khách hàng có thể tự đóng gói, sắp xếp hồ sơ tài liệu để dễ dàng quản lý, trích lục
									.arrow-toggle
										em.mdi.mdi-chevron-down
				.col.w-full(class='md:w-1/2')
					.col-match-height
						.item-checkbox
							.image-wrapper
								a(href="#")
									img(src="./img/icon/icon-2.png", alt="")
							.caption
								.qcheckbox
									input(type="checkbox")
								.title Kho tự quản 
								.content
									.description
										p Khách hàng có thể tự đóng gói, sắp xếp hồ sơ tài liệu để dễ dàng quản lý, trích lục
									.arrow-toggle
										em.mdi.mdi-chevron-down
			
		.btn-right
			a(href="#").btn.btn-primary.grey
				em.mdi.mdi-arrow-left
				span Quay lai
			a(href="#").btn.btn-primary.red
				span Tiếp tục  
				em.mdi.mdi-arrow-right