.storage-progress-stage
	.container
		ul
			li.active
				a(href="#")
					.step 01
					.box
						.text Chọn kho
			li
				a(href="#")
					.step 02
					.box
						.text Chọn Loại kho
			li
				a(href="#")
					.step 03
					.box
						.text Chọn Diện tích và thời gian thuê kho
			li
				a(href="#")
					.step 04
					.box
						.text Dịch vụ tiện ích đi kèm
			li
				a(href="#")
					.step 05
					.box
						.text Thông tin liên hệ
section.storage-calcualte.storage-calcualte-step-1
	.container.padding-section
		.stage-wrap
			.zone-title.small thông tin liên hệ
			.row
				.col.w-full(class='sm:w-1/2') 
					.col-match-height
						.item-checkbox
							.image-wrapper
								a(href="#")
									img(src="./img/icon/icon-2.png", alt="")
							.caption
								.qcheckbox
									input(type="checkbox")
								.title Kho tự quản 
								.unit Đơn vị m2
			
				.col.w-full(class='sm:w-1/2')
					.col-match-height
						.item-checkbox
							.image-wrapper
								a(href="#")
									img(src="./img/icon/icon-2.png", alt="")
							.caption
								.qcheckbox
									input(type="checkbox")
								.title Kho tự quản 
								.unit Đơn vị m2
			
		.btn-right
			a(href="#").btn.btn-primary.red
				span Tiếp tục  
				em.mdi.mdi-arrow-right