section.transport.main-line
	.container
		h2.main-title.line.text-center chuyển nhà, văn phòng, kho xưởng trọn gói
		.row
			.col(class="w-full lg:w-5/12")
				.form-wrapper
					.form-transport
						.form-group
							label(for="") Nhập địa điểm
							input(type="text", name="")
						.form-group
							label(for="") Nhập địa điểm
							input(type="text", name="")
						.form-group
							label(for="") Chọn loại dịch vụ
							.form-checked
								.checked
									input(type="radio", name="service", id="1")
									label(for="1") Chuyển nhà
								.checked
									input(type="radio", name="service", id="2")
									label(for="2") Chuyển văn phòng
								.checked
									input(type="radio", name="service", id="3")
									label(for="3") Chuyển dời nhà xưởng
								.checked
									input(type="radio", name="service", id="4")
									label(for="4") Khác
						.form-group
							label(for="") Chọn loại xe tải
							.form-checked.form-2
								.checked
									input(type="radio", name="service", id="5")
									label(for="5") 500kg
								.checked
									input(type="radio", name="service", id="6")
									label(for="6") 750kg
								.checked
									input(type="radio", name="service", id="7")
									label(for="7") 1.5 tấn
								.checked
									input(type="radio", name="service", id="8")
									label(for="8") 1.9 tấn
								.checked
									input(type="radio", name="service", id="9")
									label(for="9") 2 tấn (thùng 6 kg)
						.form-group
							.btn-search
								a.button(href="#") Tra cứu
					.total
						.infomation
							p Số km:
								span  11,9km
							p Loại xe:
								span  500kg
						.payment
							p Tạm tính
							p.total-money 415.000 VNĐ
						.note
							p *
								|
								i Giá trên chỉ mang tính chất tham khảo. Chưa bao gồm các loại chi phí khác (nếu có)
			.col(class="w-full lg:w-7/12")
				.map
					img(src="./img/transport/4.png", alt="")
section.transport-2.main-line
	.container
		h2.main-title.line.text-center liên hệ
		.form-wrapper
			.wrap-form
				.row
					.form-group.col.w-full(class='lg:w-1/2')
						label họ và tên
						input(type="text")
					.form-group.col.w-full(class='lg:w-1/2')
						label Số điện thoại
						input(type="text")
					.form-group.col.w-full(class='lg:w-1/2')
						label họ và tên
						input(type="text")
					.form-group.col.w-full(class='lg:w-1/2')
						label Số điện thoại
						input(type="text")
					.form-group.col.w-full(class='lg:w-1/2')
						label Ghi chú
						textarea
					.frm-btn
						input(type="submit" value ="Send")
section.transport-3.main-line
	.container
		h2.main-title.line.text-center bảng giá
		.row.main-child.items-center
			.col(class="w-full lg:w-1/2")
				.content
					h3.title Dịch vụ chuyển nhà saigon express
					p Hiện nay trên thị trường có rất nhiều đơn vị cung cấp dịch vụ chuyển nhà, chuyển văn phòng trọn gói. Quảng cáo rầm rộ với nhiều cam kết. Tuy nhiên chọn được một đơn vị thực sự uy tín, mang đến dịch vụ chất lượng và mức giá hợp lý lại là điều không hề dễ dàng.
					p Nhằm giúp khách hàng dễ dàng hơn trong việc lựa chọn dịch vụ chuyển dọn tốt nhất cho mình, Saigon Express sẵn sàng công khai bảng báo giá dịch vụ chuyển nhà - văn phòng trọn gói chi tiết! 
				.hotline-number
					a(href="tel:02838382238").button
						.icon
							em.mdi.mdi-phone
						.box
							p (028) 3838 2238
					a(href="tel:0938176176").button
						.icon
							em.mdi.mdi-cellphone-android
						.box
							p 0939 176 176
			.col(class="w-full lg:w-1/2")
				.image
					img(src="./img/transport/1.png", alt="")
		.row.main-child.items-center
			.col(class="w-full lg:w-1/2")
				a(href="https://www.youtube.com/watch?v=BsBGLjxKWj0" data-fancybox="video")
					.image
						img(src="./img/transport/1.png", alt="")
			.col(class="w-full lg:w-1/2")
				.content
					h3.title Dịch vụ chuyển nhà saigon express
					p Hiện nay trên thị trường có rất nhiều đơn vị cung cấp dịch vụ chuyển nhà, chuyển văn phòng trọn gói. Quảng cáo rầm rộ với nhiều cam kết. Tuy nhiên chọn được một đơn vị thực sự uy tín, mang đến dịch vụ chất lượng và mức giá hợp lý lại là điều không hề dễ dàng.
					p Nhằm giúp khách hàng dễ dàng hơn trong việc lựa chọn dịch vụ chuyển dọn tốt nhất cho mình, Saigon Express sẵn sàng công khai bảng báo giá dịch vụ chuyển nhà - văn phòng trọn gói chi tiết! 
section.transport-4.main-line
	.container
		.wrapper.main-child
			h3.main-title công thức
			p.decs Tùy thuộc và công trình chuyển nhà mà giá dịch vụ chuyển dọn nhà, văn phòng Saigon Express có thể thay đổi khác nhau và được tính theo công thức sau:  
			ul.nav-transport
				li
					p Chuyển nhà, văn phòng, kho xưởng chọn gói
				li
					p Cước thuê xe tải
				li
					p Phí bốc xếp
				li
					p Chi phí khác (nếu có)
		.wrapper.main-child
			h3.main-title giá cước thuê xe vận chuyển nhà, văn phòng - saigon express
			.table-wrapper
				table
					tr
						th loại xe
						th giá mở cửa - 10km đầu
						th từ km thứ 11 đến 44
						th từ km thứ 45
						th thời gian chờ
					- for(i=0;i<5;i++)
						tr
							td Xe tải nhỏ 500kg
							td 250.000VNĐ
							td 13.000VNĐ/Km
							td 12.000VNĐ/Km
							td 70.000VNĐ/Giờ
		.wrapper.main-child
			h3.main-title phí bốc xếp
			.table-wrapper
				table
					tr
						th loại xe
						th phí bốc xếp 2 đầu
					- for(i=0;i<5;i++)
						tr
							td Xe tải nhỏ 500kg
							td 140.000VNĐ
		.wrapper.main-child
			h3.main-title chi phí chuyển nhà khác nếu có
			.table-wrapper
				table
					tr
						th loại xe
						th chi phí
					- for(i=0;i<5;i++)
						tr
							td Thùng Carton (60x40x35 cm)
							td 18.000VNĐ/Thùng
		.wrapper.main-child
			h3.main-title một số câu hỏi liên quan đến dịch vụ chuyển nhà thường gặp
			.list-question.main-line
				ul
				- for(i=0;i<6;i++)
					li
						.question-wrapper
							p.question 01. Xe tải chở hàng gồm những loại nào?
							.reply
								p Nếu có người hỗ trợ, hoặc có đủ thời gian, bạn có thể tự đóng gói đồ đạc và chỉ thuê xe chuyển nhà. Như vậy sẽ tiết kiệm chi phí hơn.
		.wrapper.main-child
			h3.main-title một số hình ảnh thực tế các loại xe và hình ảnh chuyển nhà chọn gói
			.container
				.row.list-image
					.col(class="w-full lg:w-1/2")
						.image-full
							img(src="./img/transport/2.png", alt="")
					.col(class="w-full lg:w-1/2")
						.image-full
							img(src="./img/transport/2.png", alt="")
					.col(class="w-full lg:w-1/3")
						.image-child
							img(src="./img/transport/3.png", alt="")
					.col(class="w-full lg:w-1/3")
						.image-child
							img(src="./img/transport/3.png", alt="")
					.col(class="w-full lg:w-1/3")
						.image-child
							img(src="./img/transport/3.png", alt="")
					.col.w-full
						p Trên đây là thông tin cập nhật bảng giá dịch vụ chuyển nhà, văn phòng trọn gói tại TPHCM mới nhất của công ty Saigon Express. Nếu bạn muốn thuê xe chở hàng hóa, xe tải để chuyển nhà, sử dụng dịch vụ chuyển nhà, văn phòng trọn gói hãy liên hệ ngay Saigon Express để được tư vấn và được báo giá trực tiếp nhé
					.col(class="w-5/12")
						.hotline-number
							a(href="tel:02838382238").button
								.icon
									em.mdi.mdi-phone
								.box
									p (028) 3838 2238
							a(href="tel:0938176176").button
								.icon
									em.mdi.mdi-cellphone-android
								.box
									p 0939 176 176
