section.news-detail.main-line
	.container
		.row
			.col(class="w-full lg:w-2/3")
				.main-news-title
					h1.title-detail 7 lưu ý khi chuyển nhà trong mùa dịch viêm phổi cấp do virus Corona
					.date-share
						.date
							time 30/03/2020
						ul.share-social
							li
								a(href="#")
									em.fab.fa-facebook-f
							li
								a(href="#")
									em.fab.fa-twitter
				.full-content
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores adipisci laboriosam velit minima exercitationem. Pariatur, fuga quos obcaecati doloremque ad quibusdam? Culpa suscipit ad reprehenderit natus quibusdam quos voluptas possimus.
					img(src="./img/news/4.png", alt="")
			.col(class="w-full lg:w-1/3")
				h2.main-title.line Dịch vụ chính
				ul.list-news-service
					li
						.image
							a(href="#")
								img(src="./img/news/5.png", alt="")
						a(href="#").title cho thuê kho lưu trữ hàng hoá
					li
						.image
							a(href="#")
								img(src="./img/news/5.png", alt="")
						a(href="#").title cho thuê kho lưu trữ hàng hoá
					li
						.image
							a(href="#")
								img(src="./img/news/5.png", alt="")
						a(href="#").title cho thuê kho lưu trữ hàng hoá
					li
						.image
							a(href="#")
								img(src="./img/news/5.png", alt="")
						a(href="#").title cho thuê kho lưu trữ hàng hoá
					li
						.image
							a(href="#")
								img(src="./img/news/5.png", alt="")
						a(href="#").title cho thuê kho lưu trữ hàng hoá
				.news-form
					.title
						em.material-icons border_color
						p yêu cầu gọi lại
					.form
	.news-orther.main-line
		.container
			h2.main-title.line Tin liên quan
			.row
				.col(class="w-full md:w-1/2 lg:w-1/4")
					.news-child
						.image
							a(href="#")
								img(src="./img/news/3.png", alt="")
						.content
							a.title(href="#") 6 đơn vị cung cấp dịch vụ ship cod uy tính hiện nay
							p Khái niệm Ship COD ngày càng phổ biến trong giới kinh doanh bán hàng. Và mọi người hiện nay dùng cụm từ này như một thói quen để chỉ hoạt động bán hàng và thu tiền khi hàng được trao tận tay cho người nhận. 
				.col(class="w-full md:w-1/2 lg:w-1/4")
					.news-child
						.image
							a(href="#")
								img(src="./img/news/3.png", alt="")
						.content
							a.title(href="#") 6 đơn vị cung cấp dịch vụ ship cod uy tính hiện nay
							p Khái niệm Ship COD ngày càng phổ biến trong giới kinh doanh bán hàng. Và mọi người hiện nay dùng cụm từ này như một thói quen để chỉ hoạt động bán hàng và thu tiền khi hàng được trao tận tay cho người nhận. 
				.col(class="w-full md:w-1/2 lg:w-1/4")
					.news-child
						.image
							a(href="#")
								img(src="./img/news/3.png", alt="")
						.content
							a.title(href="#") 6 đơn vị cung cấp dịch vụ ship cod uy tính hiện nay
							p Khái niệm Ship COD ngày càng phổ biến trong giới kinh doanh bán hàng. Và mọi người hiện nay dùng cụm từ này như một thói quen để chỉ hoạt động bán hàng và thu tiền khi hàng được trao tận tay cho người nhận. 
				.col(class="w-full md:w-1/2 lg:w-1/4")
					.news-child
						.image
							a(href="#")
								img(src="./img/news/3.png", alt="")
						.content
							a.title(href="#") 6 đơn vị cung cấp dịch vụ ship cod uy tính hiện nay
							p Khái niệm Ship COD ngày càng phổ biến trong giới kinh doanh bán hàng. Và mọi người hiện nay dùng cụm từ này như một thói quen để chỉ hoạt động bán hàng và thu tiền khi hàng được trao tận tay cho người nhận. 
