section.home-2.main-line
	.container
		.row
			.col(class="w-full lg:w-1/3")
				h2.title-child chất lượng dịch vụ tạo nên thương hiệu
			- for(i=1;i<6;i++)
				.col(class="w-full lg:w-1/3")
					.list-item
						.item-wrapper
							.image-transport
								img(src="./img/about/2.png", alt="")
							.content-wrapper
								.icon
									img(src="./img/icon/ab1.png", alt="")
						.item-child
							.image
								img(src="./img/icon/h1.png", alt="")
							h3.title.text-center kho chung
							.content
								p Giải pháp kho chung - kho tiêtu chuẩn hay còn gọi là kho chia sẻ là mô hình được ưa chuộng tại nhiều quốc gia trên thế giới hiện nay.Giải pháp kho chung - kho tiêtu chuẩn hay còn gọi là kho chia sẻ là mô hình được ưa chuộng tại nhiều quốc gia trên thế giới hiện nay.
							.viewmore
								a(href="#") Xem chi tiết
